<a href="https://colab.research.google.com/github/clem-mont-inha/MidTermsDB/blob/main/MidTermsDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

conn = sqlite3.connect('ITS.db')
print("Databse connection successfull")

conn.execute('''CREATE TABLE IF NOT EXISTS "Vehicle"(
  "VehicleID" INTEGER NOT NULL,
  "RegistrationID" VARCHAR NOT NULL,
  "Manufacturer" VARCHAR NOT NULL,
  "Model" VARCHAR NOT NULL,
  "Color" VARCHAR NOT NULL,
  "CurrentOdometer" INT NOT NULL,
  "PassengerCapacity" INT NOT NULL,
  "Avalaible" BOOLEAN NOT NULL,
  PRIMARY KEY("VehicleID"));'''
)

print("Table Vehicle succesfully created")

Databse connection successfull
Table Vehicle succesfully created

In [2]:
conn.execute('''CREATE TABLE IF NOT EXISTS "Language"(
  "LanguageCode" CHAR(2) NOT NULL,
  "LanguageName" VARCHAR NOT NULL,
  PRIMARY KEY("LanguageCode"));'''
)

print("Table Language succesfully created")

Table Language succesfully created

In [3]:
conn.execute('''CREATE TABLE IF NOT EXISTS "Country"(
  "CountryCode" CHAR(2) NOT NULL,
  "CountryName" VARCHAR NOT NULL,
  "MostFrequentlySpokenLanguage" CHAR(2) NOT NULL,
  PRIMARY KEY("CountryCode"),
  CONSTRAINT "Language_Country"
    FOREIGN KEY ("MostFrequentlySpokenLanguage")
      REFERENCES "Language" ("LanguageCode"));'''
)

print("Table Country succesfully created")

Table Country succesfully created

In [4]:
conn.execute('''CREATE TABLE IF NOT EXISTS "Official"(
  "OfficialID" INTEGER NOT NULL,
  "CityID" CHAR(8) NOT NULL,
  "Name" VARCHAR NOT NULL,
  "Role" VARCHAR NOT NULL,
  "PreferredLanguage" CHAR(2) NOT NULL,
  "CountryCode" CHAR(2) NOT NULL,
  PRIMARY KEY("OfficialID"),
  CONSTRAINT "Language_Official"
    FOREIGN KEY ("PreferredLanguage") REFERENCES "Language" ("LanguageCode"),
  CONSTRAINT "Country_Official"
    FOREIGN KEY ("CountryCode") REFERENCES "Country" ("CountryCode"));'''
)

print("Table Official succesfully created")

Table Official succesfully created

In [5]:
conn.execute('''CREATE TABLE IF NOT EXISTS "Driver"(
  "DriverID" INTEGER NOT NULL,
  "LicenseNumber" CHAR(18) NOT NULL,
  "Name" VARCHAR NOT NULL,
  "ClearanceLevel" INT NOT NULL,
  "FATLLevel" INT,
  "FATLQualificationDate" DATE,
  "STLVTLevel" INT,
  "STLVTQualificationDate" DATE,
  "STLVTCertifyingAuthority" VARCHAR,
  "PreferredLanguage" NCHAR NOT NULL,
  PRIMARY KEY("DriverID"),
  CONSTRAINT "Language_Driver"
    FOREIGN KEY ("PreferredLanguage") REFERENCES "Language" ("LanguageCode"));'''
)

print("Table Driver succesfully created")

Table Driver succesfully created

In [6]:
conn.execute('''CREATE TABLE IF NOT EXISTS "Location"(
  "LocationID" INTEGER NOT NULL,
  "Name" VARCHAR NOT NULL,
  "Address" VARCHAR NOT NULL,
  "Type" VARCHAR NOT NULL,
  PRIMARY KEY("LocationID"));'''
)

print("Table Location succesfully created")

Table Location succesfully created

In [7]:
conn.execute('''CREATE TABLE IF NOT EXISTS "Booking"(
  "Reference" VARCHAR NOT NULL,
  "StartTime" DATETIME NOT NULL,
  "EndTime" DATETIME NOT NULL,
  "StartOdometer" INTEGER NOT NULL,
  "EndOdometer" INTEGER NOT NULL,
  "OfficialID" INTEGER NOT NULL,
  "DriverID" INTEGER NOT NULL,
  "VehicleID" INTEGER NOT NULL,
  "PickupLocationID" INTEGER NOT NULL,
  "DropOffLocationID" INTEGER NOT NULL,
  PRIMARY KEY("Reference"),
  CONSTRAINT "Vehicle_Booking"
    FOREIGN KEY ("VehicleID") REFERENCES "Vehicle" ("VehicleID"),
  CONSTRAINT "Driver_Booking"
    FOREIGN KEY ("DriverID") REFERENCES "Driver" ("DriverID"),
  CONSTRAINT "Official_Booking"
    FOREIGN KEY ("OfficialID") REFERENCES "Official" ("OfficialID"),
  CONSTRAINT "Location_Booking"
    FOREIGN KEY ("PickupLocationID") REFERENCES "Location" ("LocationID"),
  CONSTRAINT "Location_Booking"
    FOREIGN KEY ("DropOffLocationID") REFERENCES "Location" ("LocationID"));'''
)

print("Table Booking succesfully created")

Table Booking succesfully created

In [8]:
conn.execute('''CREATE TABLE IF NOT EXISTS "VehicleAction"(
  "ActionID" INTEGER NOT NULL,
  "VehicleID" INTEGER NOT NULL,
  "Type" CHARACTER NOT NULL,
  "Odometer" INT NOT NULL,
  "FinalCost" INT NOT NULL,
  "Description" VARCHAR NOT NULL,
  "Date" DATE NOT NULL,
  PRIMARY KEY("ActionID"),
  CONSTRAINT "Vehicle_VehicleAction"
    FOREIGN KEY ("VehicleID") REFERENCES "Vehicle" ("VehicleID"));'''
)

print("Table VehicleAction succesfully created")

Table VehicleAction succesfully created

In [10]:
languages = [
    ("EN", "English"),
    ("KR", "Korean"),
    ("FR", "French")
]

conn.executemany('''INSERT INTO "Language" ("LanguageCode", "LanguageName") VALUES (?, ?);''', languages)
conn.commit()

print("Table Language succesfully filled")

Table Language succesfully filled

In [11]:
countries = [
    ("KR", "South Korea", "KR"),
    ("EN", "England", "EN"),
    ("FR", "France", "FR")
]

conn.executemany('''INSERT INTO "Country" ("CountryCode", "CountryName", "MostFrequentlySpokenLanguage") VALUES (?, ?, ?);''', countries)
conn.commit()

print("Table Country succesfully filled")

Table Country succesfully filled

In [12]:
officials = [
    ("INCHEON", "Clement Monteiro", "Coach", "KR", "KR"),
    ("INCHEON", "Cyprien Singez", "Journalist", "FR", "FR"),
]

conn.executemany('''INSERT INTO "Official" ("CityID", "Name", "Role", "PreferredLanguage", "CountryCode") VALUES (?, ?, ?, ?, ?);''', officials)
conn.commit()

print("Table Official succesfully filled")

Table Official succesfully filled

In [13]:
drivers = [
    ("azerty123456789", "Clément Monteiro", 3, "KR")
]

conn.executemany('''INSERT INTO "Driver" ("LicenseNumber", "Name", "ClearanceLevel", "PreferredLanguage") VALUES (?, ?, ?, ?);''', drivers)
conn.commit()

print("Table Driver succesfully filled")

Table Driver succesfully filled

In [14]:
locations = [
    ("Incheon Airport", "Incheon Airport", "Airport"),
    ("Incheon Bus Terminal", "Incheon Bus Terminal", "Bus Terminal"),
    ("Jeju Airport", "Jeju Airport", "Airport")
]

conn.executemany('''INSERT INTO "Location" ("Name", "Address", "Type") VALUES (?, ?, ?);''', locations)
conn.commit()

print("Table Location succesfully filled")

Table Location succesfully filled

In [15]:
vehicles = [
    ("AA-123-AA", "Tesla", "Model Y", "BLue", 10, 5, False),
    ("AA-123-AA", "Toyota", "Prius", "White", 10000, 5, True)
]

conn.executemany('''INSERT INTO "Vehicle" ("RegistrationID", "Manufacturer", "Model", "Color", "CurrentOdometer", "PassengerCapacity", "Avalaible") VALUES (?, ?, ?, ?, ?, ?, ?);''', vehicles)
conn.commit()

print("Table Vehicle succesfully filled")

Table Vehicle succesfully filled

In [16]:
vehicleActions = [
    ("R", 1, 10000, 1000, "Repair because of damage", "2023-10-21"),
    ("M", 2, 10, 1000, "Battery replacement", "2023-10-21")
]

conn.executemany('''INSERT INTO "VehicleAction" ("Type", "VehicleID", "Odometer", "FinalCost", "Description", "Date") VALUES (?, ?, ?, ?, ?, ?);''', vehicleActions)
conn.commit()

print("Table VehicleAction succesfully filled")

Table VehicleAction succesfully filled

In [17]:
bookings = [
    ("azerty123456789", "2023-10-21 10:00:00", "2023-10-21 11:00:00", 10000, 10010, 1, 1, 1, 1, 2),
    ("987654321ytreza", "2023-10-21 08:00:00", "2023-10-21 12:00:00", 10, 20, 2, 1, 2, 2, 3)
]

conn.executemany('''INSERT INTO "Booking" ("Reference", "StartTime", "EndTime", "StartOdometer", "EndOdometer", "OfficialID", "DriverID", "VehicleID", "PickupLocationID", "DropOffLocationID") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);''', bookings)
conn.commit()

print("Table Booking succesfully filled")

Table Booking succesfully filled

In [18]:
tables = ["Vehicle", "Language", "Country", "Official", "Driver", "Location", "Booking", "VehicleAction"]

for table in tables:
    print(table + " rows:")
    print(conn.execute("SELECT * FROM " + table + ";").fetchall())
    print("")

Vehicle rows:
[(1, 'AA-123-AA', 'Tesla', 'Model Y', 'BLue', 10, 5, 0), (2, 'AA-123-AA', 'Toyota', 'Prius', 'White', 10000, 5, 1)]

Language rows:
[('EN', 'English'), ('KR', 'Korean'), ('FR', 'French')]

Country rows:
[('KR', 'South Korea', 'KR'), ('EN', 'England', 'EN'), ('FR', 'France', 'FR')]

Official rows:
[(1, 'INCHEON', 'Clement Monteiro', 'Coach', 'KR', 'KR'), (2, 'INCHEON', 'Cyprien Singez', 'Journalist', 'FR', 'FR')]

Driver rows:
[(1, 'azerty123456789', 'Clément Monteiro', 3, None, None, None, None, None, 'KR')]

Location rows:
[(1, 'Incheon Airport', 'Incheon Airport', 'Airport'), (2, 'Incheon Bus Terminal', 'Incheon Bus Terminal', 'Bus Terminal'), (3, 'Jeju Airport', 'Jeju Airport', 'Airport')]

Booking rows:
[('azerty123456789', '2023-10-21 10:00:00', '2023-10-21 11:00:00', 10000, 10010, 1, 1, 1, 1, 2), ('987654321ytreza', '2023-10-21 08:00:00', '2023-10-21 12:00:00', 10, 20, 2, 1, 2, 2, 3)]

VehicleAction rows:
[(1, 1, 'R', 10000, 1000, 'Repair because of damage', '2023-10-21'), (2, 2, 'M', 10, 1000, 'Battery replacement', '2023-10-21')]